html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.menu-item {
  color: green !important;
}

.nav-link {
  letter-spacing: 1px !important
}

#carouselExampleSlidesOnly {
  height: 500px;
  width: 500px;
}

footer {
  background-color: lightblue;
  height: 200px;
}

header {
  z-index: 1000;
}

#todaySpecial {

}

.dishCard {
  /*height: 250px;*/
}

.recipe-item {

}

#recipe-list {
  top: 5rem;
}