<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Đặt Đồ Ăn Online</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/OrderFoodOnline.styles.css" asp-append-version="true" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css" />

</head>
<body>
  <header class="position-sticky top-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Order Food Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link menu-item fw-bold nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item fw-bold nav-link" asp-area="" asp-controller="Recipe" asp-action="Index">Thực Đơn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item fw-bold nav-link" asp-area="">Đồ Ăn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu-item fw-bold nav-link" asp-area="">Menu đặt đồ ăn</a>
            </li>
          </ul>
          <partial name="_LoginPartial" />
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top text-muted">
    <div class="container">
      <div class="row" id="footer">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-black">
          Đặt Đồ Ăn Online
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-black">
          Home
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-black">
          Thực Đơn
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-black">
          <p>Liên Hệ Với Chúng Tôi</p>
          <div class="mt-3 mb-1">
            <span><i class="fa-brands fa-facebook"></i> Facebook</span>
          </div>
          <div class="mt-3 mb-1">
            <span><i class="fa-solid fa-x"></i> X</span>
          </div>
          <div class="mt-3 mb-1">
            <span><i class="fa-solid fa-envelope"></i> Gmail</span>
          </div>
          <div class="mt-3 mb-1">
            <span><i class="fa-brands fa-youtube"></i> YouTube</span>
          </div>
          <div class="mt-3 mb-1">
            <span><i class="fa-brands fa-twitter"></i> Twitter</span>
          </div>
          <div class="mt-3 mb-1">
            <span><i class="fa-brands fa-square-instagram"></i> Instagram</span>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-black">
          <h4>Địa chỉ</h4>
          <pre>Việt Nam</pre>
        </div>
      </div>

      <div mb-3>
        <p class="text-center p-2">Được tạo trong buổi phát trực tiếp trên kênh Coding With Thinh</p>
      </div>

      @* &copy; 2024 - Đặt Đồ Ăn Online - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    </div>
  </footer>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme",
      "carrot",
      "broccoli",
      "asparagus",
      "cauliflower",
      "corn",
      "cucumber",
      "green pepper",
      "lettuce",
      "mushrooms",
      "onion",
      "potato",
      "pumpkin",
      "red pepper",
      "tomato",
      "beetroot",
      "brussel sprouts",
      "peas",
      "zucchini",
      "radish",
      "sweet potato",
      "artichoke",
      "leek",
      "cabbage",
      "celery",
      "chili",
      "garlic",
      "basil",
      "coriander",
      "parsley",
      "dill",
      "rosemary",
      "oregano",
      "cinnamon",
      "saffron",
      "green bean",
      "bean",
      "chickpea",
      "lentil",
      "apple",
      "apricot",
      "avocado",
      "banana",
      "blackberry",
      "blackcurrant",
      "blueberry",
      "boysenberry",
      "cherry",
      "coconut",
      "fig",
      "grape",
      "grapefruit",
      "kiwifruit",
      "lemon",
      "lime",
      "lychee",
      "mandarin",
      "mango",
      "melon",
      "nectarine",
      "orange",
      "papaya",
      "passion fruit",
      "peach",
      "pear",
      "pineapple",
      "plum",
      "pomegranate",
      "quince",
      "raspberry",
      "strawberry",
      "watermelon",
      "salad",
      "pizza",
      "pasta",
      "popcorn",
      "lobster",
      "steak",
      "bbq",
      "pudding",
      "hamburger",
      "pie",
      "cake",
      "sausage",
      "tacos",
      "kebab",
      "poutine",
      "seafood",
      "chips",
      "fries",
      "masala",
      "paella",
      "som tam",
      "chicken",
      "toast",
      "marzipan",
      "tofu",
      "ketchup",
      "hummus",
      "chili",
      "maple syrup",
      "parma ham",
      "fajitas",
      "champ",
      "lasagna",
      "poke",
      "chocolate",
      "croissant",
      "arepas",
      "bunny chow",
      "pierogi",
      "donuts",
      "rendang",
      "sushi",
      "ice cream",
      "duck",
      "curry",
      "beef",
      "goat",
      "lamb",
      "turkey",
      "pork",
      "fish",
      "crab",
      "bacon",
      "ham",
      "pepperoni",
      "salami",
      "ribs",
      "phở gà",
      "phở bò",
      "phở trâu"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags,
    });
  } );
  </script>
  <script src="/js/jquery-ui.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
