<div class="shadow rounded">
  <div class="border-bottom border-3 p-2">
    <h4 class="text-black text-center fst-italic">Danh sách thực đơn</h4>
    <ul class="list-group list-group-flush px-0 vh-100 overflow-auto" id="recipe-list">
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="/Recipe/Seach?recipe=carrot">Carrot</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="#">Potato</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="#">Lemon</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="#">Bean</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="#">Cherry</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="#">Mango</a>
      </li>
      <li class="recipe-item list-group-item">
        <a class="text-black text-decoration-none" href="/Recipe/Seach?recipe=pizza">Pizza</a>
      </li>
    </ul>
  </div>
</div>